/* home.css */
#map {
    height: 70vh;
    width: calc(100% - 500px); /* Ajusta a largura para dar espaço para a barra lateral */
    border: 5px solid #ffca18; /* Borda amarela puxada para o laranja */
    border-radius: 25px; /* Aumenta o arredondamento das bordas */
    box-sizing: border-box;
    margin-right: 40px; /* Espaço entre o mapa e a barra lateral */
    display: inline-block;
    margin-top: 40px; /* Espaço adicional para alinhar melhor com a barra lateral */
}

#sidebar {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #000000; /* Borda preta */
    width: 320px; /* Aumenta a largura */
    height: 70vh; /* Altura */
    display: inline-block;
    vertical-align: top;
    border-radius: 25px; /* Arredondar as bordas da barra lateral */
    box-sizing: border-box;
}

#sidebar-container {
    margin-top: 20px; /* Espaço entre o título e a barra lateral */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar-container h2 {
    margin: 0;
    margin-bottom: 10px; /* Espaço entre o título e a barra lateral */
}

#postos-list {
    list-style: none;
    padding: 0;
}

#postos-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    background-color: #c4c4c4;
    color: #000;
    border-radius: 5px;
    margin-bottom: 5px;
}

#postos-list li:hover {
    background-color: #b0b0b0;
}

.posto-info {
    display: flex;
    flex-direction: column;
}

.posto-info .nome {
    font-weight: bold;
}

.posto-info .endereco {
    font-size: 0.9rem;
}

.posto-icon {
    margin-right: 10px;
}

.posto-desconto {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.posto-desconto .seta {
    margin-left: 5px;
}

