/* home.css */
#map {
    height: 70vh;
    width: calc(100% - 320px); /* Reduz a largura para dar espaço para a barra lateral */
    border: 5px solid yellow;
    border-radius: 15px;
    box-sizing: border-box;
    margin-right: 320px; /* Garante que o mapa não se sobreponha à barra lateral */
}

#sidebar {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    float: right;
    margin-top: -70vh; /* Ajusta para sobrepor a barra lateral ao mapa */
}

#postos-list {
    list-style: none;
    padding: 0;
}

#postos-list li {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

#postos-list li:hover {
    background-color: #f0f0f0;
}
