<!DOCTYPE html>
<html>
<head>
  <title>Address Selection</title>
  <style>
    body { margin: 0; }
    input { height: 30px; border: 0; border-bottom: 1px solid black; font-size: 14px; }
  </style>
  <script type="module">
    "use strict";
    import { APILoader } from 'https://unpkg.com/@googlemaps/extended-component-library@0.6';
    const CONFIGURATION = {
      "mapOptions": {"center":{"lat":37.4221,"lng":-122.0841},"zoom":11},
      "mapsApiKey": "YOUR_API_KEY_HERE"
    };
    async function initMap() {
      const { Autocomplete } = await APILoader.importLibrary('places');
      const autocomplete = new Autocomplete(document.getElementById('location-input'), {
        fields: ['address_components', 'geometry', 'name'],
        types: ['address'],
      });
      autocomplete.addListener('place_changed', () => {
        const place = autocomplete.getPlace();
        // Update your form fields here
      });
    }
    initMap();
  </script>
</head>
<body>
  <input type="text" placeholder="Address" id="location-input"/>
  <input type="text" placeholder="City" id="locality-input"/>
  <input type="text" placeholder="State/Province" id="administrative_area_level_1-input"/>
  <input type="text" placeholder="Zip/Postal code" id="postal_code-input"/>
  <input type="text" placeholder="Country" id="country-input"/>
</body>
</html>
