<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GasFinder{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Secular+One&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'core/header.html' %}
    {% block content %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const loginIcon = document.querySelector('.login-icon');
            const dropdownContent = document.querySelector('.dropdown-content');

            loginIcon.addEventListener('click', function(event) {
                event.stopPropagation();
                dropdownContent.classList.toggle('show');
            });

            document.addEventListener('click', function(event) {
                if (!loginIcon.contains(event.target)) {
                    dropdownContent.classList.remove('show');
                }
            });
        });
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>
