<!DOCTYPE html>
<html>
<head>
    <title>Descontos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/discounts.css' %}">
</head>
<body>
    <header>
        <h1>Descontos</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'descontos' %}">Descontos</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'registrar' %}">Registrar</a>
            {% endif %}
        </nav>
    </header>
    <div id="descontos-list">
        <ul>
            {% for desconto in descontos %}
                <li>{{ desconto.posto.nome }} - {{ desconto.percentual }}% - {{ desconto.descricao }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
