<!DOCTYPE html>
<html>
<head>
    <title>Descontos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul style="flex-grow: 1;">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'descontos' %}">Descontos</a></li>
                <li><a href="{% url 'emergency' %}">Emergência</a></li>
            </ul>
        </nav>
        <h1>Gas Finder</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'registrar' %}">Registrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div style="display: flex; justify-content: center; align-items: flex-start; margin-top: 40px;">
        <div id="map" style="display: none;"></div> <!-- Placeholder for map alignment -->
        <div id="sidebar-container">
            <h2>Postos com Desconto</h2>
            <div id="sidebar">
                <ul id="descontos-list">
                    {% for desconto in descontos %}
                        <li>
                            <div class="posto-info">
                                <div class="nome">{{ desconto.posto.nome }}</div>
                                <div class="endereco">{{ desconto.descricao }}</div>
                            </div>
                            <div class="posto-desconto">
                                {{ desconto.percentual }}%
                                <span class="seta">↔</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
