<!DOCTYPE html>
<html>
<head>
    <title>Números de Emergência</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/emergency.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Secular+One&display=swap" rel="stylesheet">
    <script>
        // Adicionar script para lidar com clique no ícone de login
        document.addEventListener('DOMContentLoaded', function() {
    const loginIcon = document.querySelector('.login-icon');
    const dropdownContent = document.querySelector('.dropdown-content');

    loginIcon.addEventListener('click', function(event) {
        event.stopPropagation(); // Impede que o clique se propague para outros elementos
        dropdownContent.classList.toggle('show');
    });

    document.addEventListener('click', function(event) {
        if (!loginIcon.contains(event.target)) {
            dropdownContent.classList.remove('show');
        }
    }); 
    });
</script>
</head>
<body>
    <header>
        <nav class="left">
            <ul>
                <li><a class="menu-item" href="{% url 'home' %}">Home</a></li>
                <li><a class="menu-item" href="{% url 'emergency' %}">Emergência</a></li>
                <li><a class="menu-item" href="{% url 'profilePostos' %}">Perfil Postos</a></li>
            </ul>
        </nav>
        <h1 class="logo">GasFinder</h1>
        <nav class="right">
            <ul>
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a class="login-icon" href="javascript:void(0);">
                            <img src="{% static 'assets/images/loginIcone.png' %}" alt="Login Icon">
                        </a>
                        <div class="dropdown-content">
                            <a href="{% url 'profile_user' %}">Exibir perfil</a>
                            <a href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li><a class="login-button" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div id="emergency-container">
        <h2>Números de Emergência</h2>
        <ul id="emergency-list">
            <li>
                <div class="emergency-info">
                    <div class="service">Polícia</div>
                    <div class="number">190</div>
                </div>
            </li>
            <li>
                <div class="emergency-info">
                    <div class="service">Guincho</div>
                    <div class="number">0800-123-456</div>
                </div>
            </li>
            <li>
                <div class="emergency-info">
                    <div class="service">Bombeiros</div>
                    <div class="number">193</div>
                </div>
            </li>
            <!-- Adicione mais serviços conforme necessário -->
        </ul>
    </div>
</body>
</html>
