<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
    <script>
        function initMap() {
            const map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -25.363, lng: 131.044},
                zoom: 10
            });

            fetch('/api/postos/')
                .then(response => response.json())
                .then(data => {
                    data.forEach(posto => {
                        new google.maps.Marker({
                            position: {lat: parseFloat(posto.localizacao__latitude), lng: parseFloat(posto.localizacao__longitude)},
                            map: map,
                            title: posto.nome
                        });

                        const listItem = document.createElement('li');

                        const postoInfo = document.createElement('div');
                        postoInfo.classList.add('posto-info');

                        const nome = document.createElement('div');
                        nome.classList.add('nome');
                        nome.textContent = posto.nome;

                        const endereco = document.createElement('div');
                        endereco.classList.add('endereco');
                        endereco.textContent = `${posto.localizacao__latitude}, ${posto.localizacao__longitude}`;

                        postoInfo.appendChild(nome);
                        postoInfo.appendChild(endereco);

                        const postoDesconto = document.createElement('div');
                        postoDesconto.classList.add('posto-desconto');
                        postoDesconto.textContent = "5%";

                        const setaIcon = document.createElement('span');
                        setaIcon.classList.add('seta');
                        setaIcon.innerHTML = '↔'; // substitua por um ícone real, se necessário

                        postoDesconto.appendChild(setaIcon);

                        listItem.appendChild(postoInfo);
                        listItem.appendChild(postoDesconto);

                        document.getElementById('postos-list').appendChild(listItem);
                    });
                });
        }
    </script>
</head>
<body>
    <header>
        <nav>
            <ul style="flex-grow: 1;">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'descontos' %}">Descontos</a></li>
            </ul>
        </nav>
        <h1>Gas Finder</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'registrar' %}">Registrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div style="display: flex; justify-content: center; align-items: flex-start; margin-top: 40px;">
        <div id="map"></div>
        <div id="sidebar-container">
            <h2>Postos de Combustível</h2>
            <div id="sidebar">
                <ul id="postos-list"></ul>
            </div>
        </div>
    </div>
</body>
</html>
