<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profileUser.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Secular+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="frame-2">
        <div class="registrar">
            <div class="login-icone-1"></div>
            <div class="nome">Nome</div>
            <div class="historico-de-abastecimento">Histórico de Abastecimento</div>
            <div class="container-1">
                <div class="container-3">
                    <div class="container-5">
                        <div class="posto-icone-1"></div>
                        <div class="ipiranga">Ipiranga</div>
                        <div class="r-275">R$ 2,75</div>
                    </div>
                    <div class="container-6">
                        <div class="data">Data</div>
                        <span class="horario">Horário</span>
                    </div>
                </div>
                <div class="container-2">
                    <div class="container-4">
                        <div class="posto-icone-2"></div>
                        <div class="shell">Shell</div>
                        <div class="r-478">R$ 4,78</div>
                    </div>
                    <div class="container">
                        <div class="data-1">Data</div>
                        <span class="horario-1">Horário</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
