<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar-se no GasFinder</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Secular+One&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="registrar">
        <div class="container-1">
            <span class="gas-finder">GasFinder</span>
        </div>
        <div class="retornar-ahome"><a href="{% url 'home' %}">Retornar a Home</a></div>
        <div class="retornar-ao-login"><a href="{% url 'login' %}">Retornar ao Login</a></div>
        <div class="registrar-se-em-gas-finder">Registrar-se em GasFinder</div>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="username" id="username" required placeholder=" ">
                <label for="username">*Nome de Usuário</label>
                <div class="line-4"></div>
            </div>
            <div class="input-group">
                <input type="email" name="email" id="email" required placeholder=" ">
                <label for="email">*Email</label>
                <div class="line-1"></div>
            </div>
            <div class="input-group">
                <input type="password" name="password1" id="password1" required placeholder=" ">
                <label for="password1">*Senha</label>
                <div class="line-2"></div>
            </div>
            <div class="input-group">
                <input type="password" name="password2" id="password2" required placeholder=" ">
                <label for="password2">*Confirmar Senha</label>
                <div class="line-3"></div>
            </div>
            <button type="submit" class="container"><span class="registrar-se">Registrar-se</span></button>
        </form>
    </div>
</body>
</html>
