<!DOCTYPE html>
<html lang="en">
<head>
  <title>Commutes and Destinations Map</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .commutes { height: 100%; }
    .commutes-map { width: 100%; height: 100%; }
  </style>
</head>
<body>
  <main class="commutes">
    <div class="commutes-map" aria-label="Map">
      <div id="map"></div>
    </div>
  </main>
  <script>
    function initMap() {
      const map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 40.7300033, lng: -74.0004987 },
        zoom: 14
      });
      const directionsService = new google.maps.DirectionsService();
      const directionsRenderer = new google.maps.DirectionsRenderer();
      directionsRenderer.setMap(map);

      const request = {
        origin: 'Times Square, New York, NY',
        destination: 'Central Park, New York, NY',
        travelMode: 'DRIVING'
      };

      directionsService.route(request, function(result, status) {
        if (status == 'OK') {
          directionsRenderer.setDirections(result);
        }
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YAIzaSyDj2yAxrkm4mpP-LS1QZuiRTmh4IpEjU6E&callback=initMap&libraries=places" async defer></script>
</body>
</html>
